.TodoButton-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.TodoButton {
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: 100%;
    font-size: 2.5rem;
    z-index: 1;
    border: none;
    background-color: #7996f5;
    cursor: pointer;
    color: aliceblue;
}